/* START Calendar Styling */

  /* 1. Slight darken on hover */
  .fc-event div:hover {
    filter: brightness(70%);
    transition: filter 0.2s ease;
  }
  

/* 2. Minor responsive tweaks for mobile */
@media (max-width: 600px) {
  .fc-daygrid-day-frame {
    padding: 2px; /* Reduce padding for tight spaces */
  }

  .fc-daygrid-day {
    min-height: 50px; /* Slightly taller day squares for tapping */
  }
  
}

/* 3. Safety reset for event containers */
.fc-event, .fc-daygrid-event {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}

/* 4. Inner fills (our generated divs) */
.fc-event div {
  height: 100%;
  width: 100%;
}

/* 5. make calendar squares 1:1 aspect ratio*/
.fc .fc-daygrid-day-frame {
  aspect-ratio: 1 / 1; /* 👈 makes it square */
  height: auto !important;
  background-color: #f4ecea!important;
}

.fc-toolbar-chunk {
  color: #fff7ed;
}

.fc-toolbar-chunk h2 {
  font-size: 1.125rem !important;
  font-family: 'barlow';
  text-transform: uppercase;
  font-weight: 300;
  color: #fff7ed;
}

.fc-header-toolbar {
  background: #697684;
  padding: 8px .5rem 8px .8rem;
}

.fc .fc-toolbar-title {
   font-weight: bold;
   letter-spacing: .5px;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}
/* END Calendar Styling */

