

@layer base {
  body {
    font-family: 'Lato';
   }
   h1, h2, h3 {
       font-family: 'playfair-display';
   }
  p {
    line-height: 1.6;;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
}

